* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
    font-family: 'Futura PT';
    src: url(../fonts/FuturaPTBold.otf);
    font-weight: bold;
}

p {
    margin-block-start: 0.25rem;
    margin-block-end: 1rem;
}

body {
    font-family: 'Roboto Condensed';
    margin: 0px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: white;
    flex-grow: 1;
}

img {
    padding-bottom: 4px;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.deactivated {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 1px dotted #000 ;
}

header {
    font-family: 'Futura PT';
    font-size: 2rem;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 0 1rem;
}

header p {
    margin-block-end: 25px;
    margin-block-start: 25px;
    text-align: center;
}

h1 {
    margin-block-start: 0;
}

h2 {
    margin-block-start: 30px;
    font-size: 1.25em;
}

h3 {
    margin-block-start: 20px;
    font-size: 1.1em;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article {
    padding-top: 8rem;
    padding-bottom: 4rem;
    margin: 0 auto;
    width: 700px;
}